/*Importing Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
/*Utility classes*/
.pad-0 {
    padding:0;
}
.info-cell {
    height:300px;
    display: grid;
    place-items: center;
}
.heading {
    font-family: 'Bangers', cursive;
    text-align: center;
}
h1 {
    color:#6d3820;
}
.row-container {
    width:90%;
    margin:auto;
}
/*Main Layout*/
body {
    background: linear-gradient(#130d0d 0%, #312015 50%, #b6631e 120%);
}
/* header */
.header {
    background:#402113;
}
/* navbar */
.navbar {
    padding:0.5rem 8rem;
}
/* brand */
.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size:2rem;
}
/* main container */
.main {
    width:80%;
    padding:1rem;
    background:rgba(255, 237, 204, 1);
    margin:1rem;
    border-radius:0.5rem;
}
/* carousel container */
.carousel-cont {
    width:90%;
    margin:1rem auto 2rem;
}
/* carousel indicators */
.carousel-indicators li{
    height:10px;
    width:10px;
    border-radius:50%;
    margin:0 5px;
}
/* about us section  */
.content {
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
}
/* new flavours */
.card-cont {
    min-width:max-content;
    max-width:auto;
    margin: 1rem 0;
    padding: 1.5rem 0rem;
    padding-top:1.5rem;
    border-radius:10px;
    background:#ffffff;
    box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
}
.card-cont:hover {
    box-shadow: 0px 2px 10px rgba(107, 53, 9, 0.8);
}
.card-cont img {
    width:200px;
    margin:auto;
}
.card-cont p {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size:1.5rem;
    margin:0;
    margin-top:1rem;
    letter-spacing: 1px;
}
/* contact us */
.contact-cont {
    margin: 2rem 0;
    padding:2rem 2rem;
    background:#fff8d4;
    border:5px solid #312015;
    border-radius:10px;
}
/* text */
.contact-cont .content {
    font-size:1.2rem;
    font-style: oblique;
}
/* row fields */
.field {
    margin:0.5rem 0;
    font-size:1.2rem;
}
.field div {
    padding:0;
}
.last {
    margin:1.5rem 0 0;
}
.btn {
    border: none;
    background: #2d1003;
    color: #f8e6d5;
    font-weight: 500;
}
.btn-primary:focus {
    background: #632f17  !important;
}
/* footer */
.footer {
    background:#2d1003;
    color:#d8d8d8;
    padding:1rem 7rem;
}
.footer .navbar-brand {
    font-size:1.5rem;
    letter-spacing: 1px;
    color: #f8e6d5
}
.icon {
    color:#e6d9bd;
}
a, a:hover {
    text-decoration: none;
    color:#e6d9bd;
}

/*Tablets*/
@media (max-width:768px) {
    /* utility */
    .row-container {
        width:100%;
        margin:auto;
    }
    .heading {
        font-size:2rem
    }
    /* navbar */
    .navbar {
        padding:0.5rem 5rem;
    }
    /* carousel indicators */
    .carousel-indicators {
        margin-bottom:0;
    }
    .carousel-indicators li{
        height:5px;
        width:5px;
        margin:0 3px;
    }
    /* about us section  */
    .content {
        font-size:0.9rem;
    }
    /* new flavours */
    .card-cont {
        padding: 1rem 0;
        margin: 1rem 0;
    }
    .card-cont img {
        width:175px;
        margin:auto;
    }
    /* contact us */
    /* text */
    .contact-cont .content {
        font-size:1rem;
        margin:1rem 0;
    }
    /* footer */
    .footer {
        padding:1rem 4rem;
    }
    .footer .navbar-brand {
        font-size: 1.2rem;;
    }
}


/*For mobile devices*/
@media (max-width: 425px) {
    /* utility */
    .info-cell {
        height:300px;
    }
    .heading {
        font-size: 2.5rem;
    }
    /* navbar */
    .navbar {
        padding:0.5rem 1rem;
    }
    /* navbar brand */
    .navbar-brand {
        font-family:'Bangers', cursive;
        font-size:1.5rem;
    }
    /* main container */
    .main {
        width:95%;
    }
    /* about us  */
    .content {
        text-align:justify;
        text-justify: inter-word;
    }
    /* carousel container */
    .carousel-cont {
        width:100%;
        margin:0 auto 1rem;
    }
    /* new flavour */
    .card-cont {
        max-width:75%;
        margin:1rem auto;
    }
    /* about us */
    .field {
        font-size:1rem;
    }
    .contact-cont .content {
        margin:1.5rem 0;
    }
    /* submit button */
    .btn {
        height: 2.5rem;
        width: 8rem;
        font-size: 1rem;
        letter-spacing: 2px;
    }
    /* footer */
    .footer {
        padding: 1rem 2.5rem;
    }
    .footer svg {
        width:35px;
        height:35px;
    }
}