body {
    height:100vh;
}
/* laptops */
.navbar-brand {
    font-size: 2.5rem;
}
.main-disp {
    height:72%;
    margin:3rem;
    background:#fff9ea;
    border-radius:10px;
    display:grid;
    place-items:center;
    padding:1rem;
}
.msg-disp {
    display:block;
    width:fit-content;
    font-family: 'Bangers', cursive;
    font-size:6vw;
    letter-spacing: 1px;
    color:#64351d;
}
/* tablets */
@media (max-width:768px) {
    .navbar-brand {
        font-size: 2rem;
    }
    .msg-disp {
        font-size:6vw;
    }
}
/* mobiles */
@media (max-width:425px) {
    .msg-disp {
        width:min-content;
        font-size:8vw;
    }
}